[submodule "ThirdParty/RanokLanguage"]
	path = ThirdParty/RanokLanguage
        url = https://github.com/Balalarga/RanokLanguage.git
[submodule "ThirdParty/RapidJson"]
	path = ThirdParty/RapidJson
	url = https://github.com/Tencent/rapidjson.git
